{% extends "base_dashboard.html" %}
{% block title %} | Fon Ara{% endblock %}
{% block sources %}    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/additional/profile.css')}}">
{% endblock %}
{% block body %}

    <div class="dashboard container-fluid m-0 p-0" style="height: calc(100vh - 57px);">
        <div class="h-100 w-100 d-flex flex-column flex-lg-row">
            <div class="d-flex position-sticky bg-white sidebar bg-body-tertiary m-0 mb-lg-0 mb-3 p-0" style="min-height: 57px; border-right: solid 1px rgb(33, 37, 41, 0.25); border-bottom: solid 1px rgb(33, 37, 41, 0.25)">
                <div class="d-flex position-sticky w-100">
                    <ul class="nav nav-pills align-items-center justify-content-evenly flex-auto nav-flush mb-auto text-center flex-row flex-lg-column w-100">
                        <li class="nav-item w-100-lg">
                            <a href="/ana_panel" class="nav-link py-3 rounded-0" aria-current="page" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Ana Sayfa" data-bs-original-title="Ana Sayfa">
                                <i class="fa fa-home" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="w-100-lg">
                            <a href="/fon_ara" class="nav-link active py-3 rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Fon Ara" data-bs-original-title="Fon Ara">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="w-100-lg">
                            <a href="/portfoyum" class="nav-link py-3 rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Portföyüm" data-bs-original-title="Portföyüm">
                                <i class="fa fa-pie-chart" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="w-100-lg">
                            <a href="/trend_analizi" class="nav-link py-3 rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Trend Analiz Aracı" data-bs-original-title="Trend Analiz Aracı">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="w-100-lg">
                            <a href="/portfoy_simulasyonu" class="nav-link py-3 rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Portföy Simülasyonu" data-bs-original-title="Portföy Simülasyonu">
                                <i class="fa fa-line-chart" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="w-100-lg">
                            <a href="/haberler" class="nav-link py-3 rounded-0" data-bs-toggle="tooltip" data-bs-placement="right" aria-label="Haberler" data-bs-original-title="Haberler">
                                <i class="fa fa-newspaper" aria-hidden="true"></i>
                            </a>
                        </li>
                    </ul>
                    
                </div>
                
            </div>

            <div class="w-100 h-100 d-flex justify-content-center px-4 py-4" style="overflow-y: scroll;">

                <div class="container-xxl gap-2 justify-content-center align-items-center d-grid">
                    <div class="w-100 position-relative">
                        <form class="w-100" id="searchForm">
                            <div class="form-outline" data-mdb-input-init>
                                <input class="form-control w-100" type="text" id="text" name="text" placeholder="Fon Ara..." aria-label="Search" oninput="delayedSearchFunds()">
                            </div>
                        </form>
                        <div id="searchResults" class="list-group position-absolute w-100"></div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 93px;">Fon Kodu</th>
                                <th scope="col">Fon Adı</th>
                                <th scope="col">Fon Tipi</th>
                                <th scope="col">Alım/Satım Yerleri</th>
                                <th scope="col">URL</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fund in funds_data %}
                                <tr>
                                    <td><a class="text-primary text-decoration-none">{{ fund.fund_code }}</a></td>
                                    <td>{{ fund.fund_name }}</td>
                                    <td>{{ fund.fund_type }}</td>
                                    <td>{{ fund.alim_satim_yerleri }}</td>
                                    <td><a href="/fon/{{ fund.fund_code }}?date=1"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            
                    <div>
                        <ul class="pagination d-flex justify-content-center align-items-center">
                            {% if current_page > 1 %}
                                <li class="page-item"><a class="page-link" href="?page={{ current_page - 1 }}">Önceki Sayfa</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="?page={{ current_page - 1 }}">Önceki Sayfa</a></li>
                            {% endif %}
                                <li class="page-item"><a class="page-link" >{{ current_page }}</a></li>
                            {% if current_page < total_pages %}
                                <li class="page-item"><a class="page-link" href="?page={{ current_page + 1 }}">Sonraki Sayfa</a></li>
                            {% else %}
                                <li class="page-item disabled"><a class="page-link" href="?page={{ current_page + 1 }}">Sonraki Sayfa</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
<script>
    var searchTimeout;

    function delayedSearchFunds() {
        clearTimeout(searchTimeout);
        searchTimeout = setTimeout(searchFunds, 500); // Adjust the delay (in milliseconds)
    }

    function searchFunds() {
        var fundName = document.getElementById('text').value.trim().toUpperCase(); // Convert to uppercase

        // Check if the search query is not empty
        if (fundName === '') {
            // Clear results if the search query is empty
            var resultsDiv = document.getElementById('searchResults');
            resultsDiv.innerHTML = '';
            return;
        }

        // Make the API call to the Flask route
        fetch(`/search_funds?text=${encodeURIComponent(fundName)}`)
            .then(response => response.json())
            .then(data => {
                // Handle the data received from the Flask route
                displaySearchResults(data);
            })
            .catch(error => {
                // Handle errors
                console.error(error);
            });
    }

    function displaySearchResults(data) {
        var resultsDiv = document.getElementById('searchResults');
        resultsDiv.innerHTML = '';  // Clear previous results

        // Process and display the search results
        if (data && data.results) {
            data.results.forEach(function (result) {
                var resultItem = document.createElement('a');
                resultItem.href = `/fon/${result.fund_code}?date=1`;
                resultItem.className = 'list-group-item list-group-item-action';
                // Wrap the fund_code in a span with a class for styling
                resultItem.innerHTML = `<span class="text-primary text-decoration-none font-weight-bold">${result.fund_code}</span> - ${result.fund_name}`;
                resultsDiv.appendChild(resultItem);
            });
        } else {
            resultsDiv.textContent = 'No results found.';
        }
    }

    // Event listener to hide search results when clicking outside the search area
    document.addEventListener('click', function(event) {
        var searchForm = document.getElementById('searchForm');
        var searchResults = document.getElementById('searchResults');

        if (!searchForm.contains(event.target) && !searchResults.contains(event.target)) {
            // Clicked outside the search area, hide results
            searchResults.innerHTML = '';
        }
    });
</script>
{% endblock %}
