{% extends "base.html" %}
{% block title %} | Şifreni Sıfırla{% endblock %}
{% block sources %}
<link rel="stylesheet"
    href="{{ url_for('static', filename='styles/additional/login.css')}}">
{% endblock %}
{% block body %}
<div class="d-flex align-items-center justify-content-center w-100" style="min-height: calc(100vh - 57px);">
    <div class="container px-lg-5 p-0 m-3 w-100 d-flex align-items-center justify-content-center">
        <div class="row w-100">
            <div class="mx-auto">
                <div class="shadow-lg">
                    <div class="d-flex align-items-center">
                        <div class="d-none d-md-block d-lg-block w-75">
                            <img src="/static/assets/png/liman_1.jpg"
                                class="objectFit">
                        </div>
                        <div
                            class="w-100 d-flex align-items-center justify-content-center">
                            <div class="py-5 px-0 mx-4 my-0" id="formPanel">
                                <div class="text-center mb-5">
                                    <h1 class="customHeading h3 text-uppercase">ŞİFRE SIFIRLA</h1>
                                </div>
                                <form method="post"
                                    action="{{ url_for('reset_password') }}">
                                    <div class="custom-form-group mt-3">
                                        <label class="text-uppercase"
                                            for="email">E-POSTA ADRESİ</label>
                                        <input type="text" id="email"
                                            name="email" class="pb-1 w-100 mt-4"><span
                                            class="pb-1"><i class="fas fa-user"></i></span>
                                    </div>
                                    <div class="mt-4">
                                        <button type="submit"
                                            class="w-100 p-2 d-block custom-btn">Kod Gönder</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='bootstrap/dist/js/additional/index.js')}}"></script>
{% endblock %}